style(type='text/css').
	*{line-height: 100%;}
	html,body{-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;margin: 0;min-width: 100% !important;padding: 0;width: 100% !important;}
	img{-ms-interpolation-mode: bicubic;outline: none;text-decoration: none;}
	table{border-collapse: collapse;}
	table td{border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;padding: 0;}
	.yshortcuts,
	.yshortcuts a,
	.yshortcuts a:link,
	.yshortcuts a:visited,
	.yshortcuts a:hover,
	.yshortcuts a span{background: none !important;border-bottom: none !important;color: #000;text-decoration: none !important;}
	.ReadMsgBody{width: 100%;}
	.ExternalClass{width: 100%;}

	*{line-height:100%;}
	body, td, div{-ms-text-size-adjust: none !important;-webkit-text-size-adjust: none !important;}
	table, table td{border-collapse: collapse !important;border-spacing: 0px !important;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;}
	.ReadMsgBody{width: 100% !important;}
	.ExternalClass{width: 100% !important;}
	.ExternalClass sup img[alt*=symbol], .ExternalClass sup img[class^=Emoji]{line-height: 0 !important;vertical-align: top !important;width: 9px !important;}
	.ExternalClass img[alt*=symbol], .ExternalClass img[class^=Emoji]{width: 9px !important;}

	body{width: 100%;text-align:center;margin-left:0;margin-top:0;margin-right:0;margin-bottom;padding:0;}
